<form [formGroup]="restaurantForm" (ngSubmit)="submitForm()">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" class="form-control" formControlName="name">
        <div *ngIf="restaurantForm.controls['name'].invalid && restaurantForm.controls['name'].touched"
          class="text-danger">
          Name is required.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" formControlName="email">
        <div *ngIf="restaurantForm.controls['email'].invalid && restaurantForm.controls['email'].touched"
          class="text-danger">
          Email is required and must be a valid email address.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="contact">Contact:</label>
        <input type="text" id="contact" class="form-control" formControlName="contact">
        <div *ngIf="restaurantForm.controls['contact'].invalid && restaurantForm.controls['contact'].touched"
          class="text-danger">
          Contact is required.
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <div style="height: 300px;" 
        leaflet [leafletOptions]="options" 
        [leafletLayersControl]="layersControl"
        [leafletLayers]="layers" 
        (leafletClick)="onMapClick($event)">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="latitude">Latitude:</label>
        <input type="text" id="latitude" class="form-control" formControlName="latitude">
        <div *ngIf="restaurantForm.controls['latitude'].invalid && restaurantForm.controls['latitude'].touched"
          class="text-danger">
          Latitude is required.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="longitude">Longitude:</label>
        <input type="text" id="longitude" class="form-control" formControlName="longitude">
        <div *ngIf="restaurantForm.controls['longitude'].invalid && restaurantForm.controls['longitude'].touched"
          class="text-danger">
          Longitude is required.
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="form-group">
        <label for="address">Address:</label>
        <textarea id="address" class="form-control" formControlName="address"></textarea>
        <div *ngIf="restaurantForm.controls['address'].invalid && restaurantForm.controls['address'].touched"
          class="text-danger">
          Address is required.
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12 d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>