<form class="row g-3 needs-validation was-validated" novalidate="">
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label"
        >Restaurant Name</label
      >
      <input
        type="text"
        class="form-control"
        id="validationCustom01"
        value=""
        required=""
      />
      <div class="valid-feedback">Please enter restaurant name</div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Contact</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom02"
        value=""
        required=""
      />
      <div class="valid-feedback">Please enter contact</div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Email</label>
      <div class="input-group has-validation">
        <input
          type="email"
          class="form-control"
          id="validationCustomUsername"
          aria-describedby="inputGroupPrepend"
          required=""
        />
        <div class="invalid-feedback">Please enter email.</div>
      </div>
    </div>
    <div class="col-mb-5">
      <label for="validationTextarea" class="form-label">Address</label>
      <textarea
        class="form-control"
        id="validationTextarea"
        placeholder="Required example textarea"
        required
      ></textarea>
      <div class="invalid-feedback">Please enter address.</div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label"
        >Location</label
      >
      <div class="input-group has-validation">
        <input
          type="email"
          class="form-control"
          id="validationCustomUsername"
          aria-describedby="inputGroupPrepend"
          required=""
        />
        <div class="invalid-feedback">This field is required.</div>
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom04" class="form-label">Opening Day</label>
      <select class="form-select" id="validationCustom04" required="">
        <option selected="" disabled="" value="">Choose...</option>
        <option>...</option>
      </select>
      <div class="invalid-feedback">Please select days</div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom04" class="form-label">Cuisine</label>
      <select class="form-select" id="validationCustom04" required="">
        <option selected="" disabled="" value="">Choose...</option>
        <option>...</option>
      </select>
      <div class="invalid-feedback">This field is required</div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom05" class="form-label"
        >Restaurant Images</label
      >
      <input
        type="text"
        class="form-control"
        id="validationCustom05"
        required=""
      />
      <div class="invalid-feedback">This field is required</div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom05" class="form-label">Food Images</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom05"
        required=""
      />
      <div class="invalid-feedback">This field is required</div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>

